### Git ###
/.git/
.gitignore
!/.gitignore

### SVN ###
.svn/

### Eclipse ###
/.classpath
/.project
/.settings

### IntelliJIDEA ###
/.idea/
*.iml
*.ipr
*.iws

### AndroidStudio ###
build/
/captures/
/local.properties
.externalNativeBuild/

### Mac ###
.DS_Store

### Gradle ###
/gradlew*
/.gradle/
/node_modules/
/buildSrc/.gradle/
.gradle
